一位學生有三科成績

In [1]:
students:list = []
students.append({"name":"robert",
                 "chinese":87,
                 "english":92,
                 "math":99})
students.append({"name":"alice",
                 "chinese":97,
                 "english":76,
                 "math":79})
students

[{'name': 'robert', 'chinese': 87, 'english': 92, 'math': 99},
 {'name': 'alice', 'chinese': 97, 'english': 76, 'math': 79}]

In [7]:
students:list = []
students.append({"Name":"Amy",
                "Chinese":87,
                "English":99,
                "Math":100})
students.append({"Name":"Benny",
                "Chinese":65,
                "English":95,
                "Math":86})
students.append({"Name":"Calvin",
                "Chinese":67,
                "English":89,
                "Math":90})
students.append({"Name":"Denny",
                "Chinese":79,
                "English":69,
                "Math":70})
students.append({"Name":"Elaine",
                "Chinese":70,
                "English":90,
                "Math":100})
students

[{'Name': 'Amy', 'Chinese': 87, 'English': 99, 'Math': 100},
 {'Name': 'Benny', 'Chinese': 65, 'English': 95, 'Math': 86},
 {'Name': 'Calvin', 'Chinese': 67, 'English': 89, 'Math': 90},
 {'Name': 'Denny', 'Chinese': 79, 'English': 69, 'Math': 70},
 {'Name': 'Elaine', 'Chinese': 70, 'English': 90, 'Math': 100}]

In [8]:
for student in students:
    for key, value in student.items():
        print(key,value,sep=":")
    print("="*50)

Name:Amy
Chinese:87
English:99
Math:100
==================================================
Name:Benny
Chinese:65
English:95
Math:86
==================================================
Name:Calvin
Chinese:67
English:89
Math:90
==================================================
Name:Denny
Chinese:79
English:69
Math:70
==================================================
Name:Elaine
Chinese:70
English:90
Math:100
==================================================

In [9]:
for student in students:
    for key,value in student.items():
        print(key,value,sep=":")
    print("="*20)

Name:Amy
Chinese:87
English:99
Math:100
====================
Name:Benny
Chinese:65
English:95
Math:86
====================
Name:Calvin
Chinese:67
English:89
Math:90
====================
Name:Denny
Chinese:79
English:69
Math:70
====================
Name:Elaine
Chinese:70
English:90
Math:100
====================